body {
    background-image: url(fond.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.b {
    font-weight: bold;
}